In [3]:
import pandas as pd
import numpy as np

In [4]:
species='ecoli'
kind = 'test'
dataset_name = f'{species}_{kind}.tsv'
subset_size = 6000

In [5]:
df = pd.read_csv(dataset_name, header=None, sep='\t')
df.columns = ['p1', 'p1', 'label']
df

                        p1                   p1  label
0          362663.ECP_3406      362663.ECP_4448    1.0
1          362663.ECP_0442  362663.ecp:ECP_0985    1.0
2          362663.ECP_3384      362663.ECP_4447    1.0
3          362663.ECP_0161  362663.ecp:ECP_3117    1.0
4      362663.ecp:ECP_1481      362663.ECP_2475    1.0
...                    ...                  ...    ...
21995      362663.ECP_2384      362663.ECP_2922    0.0
21996      362663.ECP_1743      362663.ECP_1562    0.0
21997      362663.ECP_3662      362663.ECP_4685    0.0
21998      362663.ECP_3212      362663.ECP_3077    0.0
21999      362663.ECP_3645      362663.ECP_0650    0.0

[22000 rows x 3 columns]

In [6]:
df_shuffled = df.sample(frac=1, random_state=42).reset_index(drop=True)
df_subset_shuffled = df_shuffled[:subset_size]
df_subset_shuffled.to_csv(f'{species}_{kind}_sub.tsv', header=None, index=None, sep='\t')

9