In [1]:
import pandas as pd
import numpy as np

In [2]:
species = 'ecoli'
kind = 'test'
dataset_name = f'{species}_{kind}_sub.tsv'

In [4]:
df = pd.read_csv(dataset_name, header=None, sep='\t')
df.columns = ['p1', 'p2', 'label']
df

                       p1                   p2  label
0     362663.ecp:ECP_3516      362663.ECP_3470    0.0
1         362663.ECP_0458      362663.ECP_4383    0.0
2         362663.ECP_4224  362663.ecp:ECP_3555    0.0
3         362663.ECP_0126      362663.ECP_4126    0.0
4         362663.ECP_1421  362663.ecp:ECP_2915    1.0
...                   ...                  ...    ...
5995  362663.ecp:ECP_1996      362663.ECP_2562    0.0
5996      362663.ECP_0699  362663.ecp:ECP_3313    0.0
5997      362663.ECP_1355      362663.ECP_0013    0.0
5998      362663.ECP_0878  362663.ecp:ECP_1449    0.0
5999      362663.ECP_2039      362663.ECP_3553    0.0

[6000 rows x 3 columns]

In [5]:
list_unique_id = list( set(list(df['p1'].values)+list(df['p2']))  )
pd.DataFrame(list_unique_id).to_csv(f'list_{species}_{kind}.txt', header=None, index=None)