In [1]:
import pandas as pd
import numpy as np

In [5]:
yeast_pairs = pd.read_csv('yeast_pairs.tsv', sep='\t', header=None)
yeast_pairs.columns = ['p1', 'p2', 'label']
yeast_pairs.head()

       p1      p2  label
0  P53049  P09435      1
1  Q08949  P38089      1
2  P02293  P00560      1
3  P53199  P53043      1
4  P47093  P37370      1

In [12]:
yeast_df = yeast_pairs.sample(frac=1).reset_index(drop=True)
yeast_len = len(yeast_df)
train_dataset = yeast_df.iloc[:int(yeast_len*4/5),:]
test_dataset = yeast_df.iloc[int(yeast_len*4/5):,:]
train_dataset.to_csv('yeast_train.tsv', header=None, sep='\t', index=None)
test_dataset.to_csv('yeast_test.tsv', header=None, sep='\t', index=None)