In [1]:
import numpy as np
import pandas as pd

In [4]:
# Dataframe HPRD new
df_hprd = pd.read_csv('hprd_new.tsv', sep='\t', header=None)
df_hprd.columns = ['id1', 'id2', 'label']
df_hprd

         id1     id2  label
0     P00352  P00352      1
1     Q13683  P02708      1
2     Q99102  P04626      1
3     Q9UHI6  P41162      1
4     P29597  P15498      1
...      ...     ...    ...
7596  P09038  P16070      1
7597  Q13287  P04198      1
7598  P29353  P08581      1
7599  P04626  P04626      1
7600  P29353  P04626      1

[7601 rows x 3 columns]

In [6]:
# set protein in HPRD new
set_hprd = set(df_hprd['id1']).union(df_hprd['id2'])
f = open('set_hprd.txt', 'w')
for id in set_hprd:
    f.write(id+'\n')
f.close()
len(set_hprd)

4586

In [ ]:
# Submit to Uniprot database to obtain fasta file then submit to CD-HIT 40

In [8]:
# Dataframe of id, seq, len after submitting to CD-HIT40 
df_hprd_id_seq_cd40 = pd.read_csv('hprd_new_cd40.tsv', header=None, sep='\t')
df_hprd_id_seq_cd40.columns = ['id', 'seq']
df_hprd_id_seq_cd40['len'] = [len(seq) for seq in df_hprd_id_seq_cd40['seq']]
df_hprd_id_seq_cd40

          id                                                seq  len
0     Q96S59  MSGQPPPPPPQQQQQQQQLSPPPPAALAPVSGVVLPAPPAVSAGSS...  729
1     Q02747  MNAFLLSALCLLGAWAALAGGVTVQDGNFSFSLESVKKLKDLQEPQ...  115
2     Q96DB2  MLHTTQLYQHVPETRWPIVYSPRYNITFMGLEKLHPFDAGKWGKVI...  347
3     P17275  MCTKMEQPFYHDDSYTATGYGRAPGGLSLHDYKLLKPSLAVNLADP...  347
4     O96001  MMSTEQMQPLELSEDRLDKLDPRCSHLDDLSDQFIKDCDLKKKPRK...  155
...      ...                                                ...  ...
3631  P31151  MSNTQAERSIIGMIDMFHKYTRRDDKIEKPSLLTMMKENFPNFLSA...  101
3632  O94868  MQPPPRKVKVTQELKNIQVEQMTKLQAKHQAECDLLEDMRTFSQKK...  740
3633  Q9UKT9  MEDIQTNAELKSTQEQSVPAESAAVLNDYSLTKSHEMENVDSGEGP...  509
3634  Q13490  MHKTASQRLFPGPSYQNIKSIMEDSTILSDWTNSNKQKMKYDFSCE...  618
3635  P41586  MAGVVHVSLAALLLLPMAPAMHSDCIFKKEQAMCLEKIQRANELMG...  468

[3636 rows x 3 columns]

In [10]:
# Set of hprd cd40 short id
df_hprd_id_seq_cd40_short = df_hprd_id_seq_cd40[df_hprd_id_seq_cd40['len'] < 1200]
set_hprd_cd40_short = set(df_hprd_id_seq_cd40_short['id'])
set_hprd_cd40_short

{'Q02747',
 'Q96S59',
 'Q96DB2',
 'P17275',
 'O96001',
 'Q96GM8',
 'Q8NC24',
 'O00567',
 'P60896',
 'Q14258',
 'Q96B26',
 'Q9NP50',
 'Q14790',
 'Q9GZX6',
 'Q9BXR5',
 'P12314',
 'Q9BZR9',
 'P31260',
 'Q02383',
 'Q96DV4',
 'Q12840',
 'Q16666',
 'Q08188',
 'Q92896',
 'Q9UGY1',
 'Q9ULJ8',
 'Q9UPR0',
 'O75385',
 'Q9P0N9',
 'P48059',
 'P61764',
 'P31371',
 'Q13099',
 'P19878',
 'Q9UKY1',
 'Q6NUQ1',
 'P52926',
 'O60936',
 'P18509',
 'Q8WY41',
 'Q9UK76',
 'P08151',
 'Q03060',
 'O00254',
 'O15209',
 'Q86YJ5',
 'Q9H5Q4',
 'Q96D98',
 'P24530',
 'Q8NES3',
 'P46092',
 'P02649',
 'Q92543',
 'Q9H3S1',
 'O14776',
 'Q15544',
 'P42127',
 'Q06587',
 'P15923',
 'Q14526',
 'O95237',
 'P04439',
 'Q9UFG5',
 'Q9Y237',
 'P04792',
 'P48061',
 'P03372',
 'Q8N441',
 'O00220',
 'P53634',
 'Q9C0C4',
 'Q92820',
 'Q9Y251',
 'P01008',
 'Q12926',
 'P01732',
 'P09038',
 'Q8TE85',
 'P09327',
 'P60891',
 'Q6P1K2',
 'O95198',
 'Q5TA45',
 'A9UHW6',
 'Q01534',
 'P08913',
 'Q9H1Y0',
 'P25025',
 'Q96IZ0',
 'P09972',
 'Q86X55',
 'Q15853',
 'P16591',
 'P53674',
 'P17540',
 'P51149',
 'Q8N3E9',
 'Q15326',
 'P51397',
 'Q9Y281',
 'P08697',
 'Q13111',
 'Q9ULU4',
 'P49768',
 'Q9UEE5',
 'P22102',
 'Q9BVJ6',
 'Q14990',
 'P36406',
 'Q9Y6N9',
 'P06744',
 'P00390',
 'Q8TCG1',
 'Q9Y512',
 'P36405',
 'P21854',
 'Q96RL6',
 'P16298',
 'Q9NV92',
 'Q7L5A8',
 'P30101',
 'Q6H3X3',
 'P51884',
 'Q8N8U9',
 'O75427',
 'P02788',
 'Q96EP5',
 'P37275',
 'O60716',
 'P42772',
 'Q9P2E2',
 'Q9NWY4',
 'Q15041',
 'Q9Y2X7',
 'P29460',
 'Q9NXK8',
 'Q15672',
 'Q8WUB8',
 'P15336',
 'Q6VAB6',
 'O15444',
 'P46527',
 'O43543',
 'Q8WYQ5',
 'Q9UMX1',
 'Q9HBH9',
 'P26367',
 'Q9NP66',
 'Q16773',
 'P02675',
 'P01189',
 'Q9Y4J8',
 'Q9HAW0',
 'P31431',
 'Q9UIB8',
 'Q92482',
 'Q8IX12',
 'Q04446',
 'Q8N371',
 'O75674',
 'P78552',
 'P49754',
 'Q07912',
 'Q9UBN4',
 'Q86XI6',
 'Q9UNN8',
 'P38484',
 'Q5JVL4',
 'P61011',
 'Q9NUQ8',
 'P60174',
 'P27987',
 'P56962',
 'O00459',
 'Q9BQY4',
 'O60907',
 'P21266',
 'Q8N1F7',
 'O75084',
 'P28288',
 'Q15714',
 'O00273',
 'Q9Y2J2',
 'P22033',
 'Q9Y383',
 'Q8NDB2',
 'Q92905',
 'Q96AP0',
 'Q92932',
 'Q8TBF5',
 'Q9BPX7',
 'P09683',
 'Q96LR2',
 'P09012',
 'P19957',
 'Q8NBV8',
 'P02766',
 'Q9Y6G9',
 'P63215',
 'Q96B97',
 'Q15583',
 'Q8NDZ0',
 'Q14103',
 'P04035',
 'Q8TD31',
 'Q92466',
 'Q9BQG1',
 'P17342',
 'Q53HL2',
 'Q8IUC4',
 'Q08116',
 'Q9NUW8',
 'Q16385',
 'Q96A83',
 'P20592',
 'P55085',
 'Q96IP4',
 'Q96NY9',
 'Q8TCG2',
 'Q9NPH3',
 'Q9H269',
 'P04278',
 'P14210',
 'Q01201',
 'Q96EY7',
 'Q9H8Y8',
 'P20674',
 'Q9NR82',
 'Q15172',
 'P14174',
 'P29074',
 'Q15650',
 'O14867',
 'O43614',
 'Q676U5',
 'Q9Y2X8',
 'P25063',
 'Q16222',
 'O00161',
 'Q9ULZ3',
 'P29459',
 'Q14493',
 'Q9UPQ7',
 'P18850',
 'Q6RFH5',
 'Q9NZW5',
 'Q8TD07',
 'P61619',
 'Q9Y468',
 'Q9NUX5',
 'Q9NWT8',
 'Q8IUW5',
 'Q0D2I5',
 'O60547',
 'Q9BQ66',
 'Q02487',
 'Q9NQT5',
 'Q9Y3M2',
 'O43847',
 'P07307',
 'Q13769',
 'Q86WT6',
 'P02647',
 'P15509',
 'O00189',
 'O60641',
 'Q8TAE7',
 'Q15390',
 'Q9Y2W7',
 'P62258',
 'P08709',
 'P56545',
 'Q96PD4',
 'P10109',
 'Q9UQN3',
 'P41743',
 'Q5TCZ1',
 'Q9UBC0',
 'Q99697',
 'P21917',
 'O75344',
 'Q08379',
 'Q15386',
 'Q03113',
 'P55347',
 'Q16633',
 'P35221',
 'Q6ZN01',
 'Q13797',
 'Q96L11',
 'O60882',
 'Q13387',
 'P19338',
 'Q13625',
 'O14782',
 'Q86XR8',
 'Q6ZVK8',
 'Q9H4E5',
 'Q7Z698',
 'Q13093',
 'Q9Y5K5',
 'Q13895',
 'P01106',
 'Q9NUT2',
 'O43586',
 'Q15024',
 'Q9NQT4',
 'P58062',
 'Q53EL9',
 'Q99538',
 'P26678',
 'P51148',
 'Q15466',
 'Q13951',
 'Q16576',
 'Q96I99',
 'O75575',
 'P32780',
 'P55008',
 'Q96F24',
 'P61024',
 'Q15818',
 'O14810',
 'Q92633',
 'O75925',
 'Q96BH1',
 'P48552',
 'Q9UG56',
 'Q9P1Z2',
 'Q01844',
 'Q6RW13',
 'O14936',
 'Q53T59',
 'Q6XD76',
 'P06729',
 'Q9NYK6',
 'Q14157',
 'P20851',
 'O94762',
 'P20963',
 'P25105',
 'Q9Y2W1',
 'Q8IVH4',
 'P09622',
 'Q9UQL6',
 'O00327',
 'Q8TE76',
 'Q9NTJ5',
 'P02489',
 'Q14814',
 'Q86XN8',
 'Q92828',
 'P00519',
 'P55259',
 'Q96CV9',
 'P28676',
 'O14709',
 'O43422',
 'Q9UIV1',
 'Q8HWS3',
 'P25963',
 'P49840',
 'Q9Y5X4',
 'P12236',
 'P56470',
 'Q9NP61',
 'Q99417',
 'Q99436',
 'Q92575',
 'P07315',
 'Q92574',
 'O75145',
 'Q9NVL1',
 'Q9Y2R2',
 'O14879',
 'Q9UHD4',
 'Q99661',
 'O15409',
 'P80192',
 'Q9NYA1',
 'P43364',
 'Q9H095',
 'Q9H4P4',
 'Q02297',
 'Q15661',
 'Q8NA92',
 'Q8NI08',
 'P07204',
 'Q9H3R5',
 'Q9UQF2',
 'P63244',
 'Q9NY93',
 'Q8IZL2',
 'Q5MJ70',
 'P01270',
 'Q96RU3',
 'P49757',
 'P08236',
 'P05162',
 'Q9BT49',
 'P05387',
 'Q9Y4K3',
 'Q9P0K7',
 'P55345',
 'O60231',
 'Q5BJF6',
 'Q96A56',
 'O75909',
 'P27037',
 'Q99259',
 'Q5T7V8',
 'Q13283',
 'Q9HB07',
 'P53567',
 'P35228',
 'P98066',
 'Q9H2G4',
 'Q9BZZ5',
 'P19022',
 'Q6PD74',
 'Q9NSE2',
 'P31751',
 'P31949',
 'Q01105',
 'Q7Z465',
 'P16455',
 'Q99638',
 'Q8WXE9',
 'Q15697',
 'Q92664',
 'Q7RTS1',
 'Q9H8V3',
 'Q64LD2',
 'P61966',
 'P02652',
 'Q92599',
 'P15692',
 'P78358',
 'P41271',
 'Q15532',
 'Q08999',
 'Q9NWX5',
 'O43914',
 'O00422',
 'Q15406',
 'Q96SI1',
 'P30419',
 'Q96G01',
 'P27816',
 'O43683',
 'Q9ULH7',
 'Q9H553',
 'Q6DJT9',
 'Q16611',
 'P00736',
 'O75563',
 'Q16621',
 'Q96A23',
 'P13598',
 'Q15269',
 'P43627',
 'Q96GM5',
 'O43502',
 'P15918',
 'Q9HCE7',
 'Q13227',
 'P61160',
 'P81274',
 'P15976',
 'P24588',
 'Q03393',
 'P43034',
 'Q00534',
 'Q9Y6M9',
 'P04040',
 'O95157',
 'Q8IUF1',
 'Q02410',
 'Q15181',
 'Q05048',
 'Q10567',
 'P20264',
 'O14512',
 'Q15796',
 'Q9UBW8',
 'Q8N5F7',
 'P62316',
 'O75914',
 'Q13324',
 'Q92782',
 'O43164',
 'Q96I34',
 'Q9H410',
 'O00487',
 'P01574',
 'P04003',
 'P49146',
 'Q8WUT4',
 'Q7L622',
 'O43463',
 'Q16394',
 'Q99952',
 'O00472',
 'P06748',
 'P52655',
 'Q8IYF3',
 'Q86SR1',
 'O00231',
 'P15056',
 'Q8TAX7',
 'P30084',
 'Q9Y2K5',
 'Q14515',
 'Q9NNW5',
 'Q13415',
 'Q96FK6',
 'Q9NVE4',
 'Q9UNF0',
 'O76024',
 'Q96S82',
 'Q9Y282',
 'Q9H0F7',
 'Q9HBW1',
 'P22314',
 'Q15011',
 'Q96CG3',
 'P20916',
 'O95544',
 'P54920',
 'Q8N6Y0',
 'Q16512',
 'Q9UHC7',
 'Q9UEU0',
 'O76064',
 'Q9P2W1',
 'P10275',
 'O14910',
 'Q8WVB3',
 'Q8IUX8',
 'Q9BUL8',
 'Q5VV43',
 'Q13608',
 'Q9BWC9',
 'Q14242',
 'P19438',
 'Q8IUF8',
 'P53539',
 'Q96CW9',
 'Q53T94',
 'Q9UFN0',
 'Q9GZU3',
 'Q9NSI5',
 'O15382',
 'P07686',
 'Q9UNH7',
 'P06730',
 'O95870',
 'P10827',
 'P41217',
 'Q9NRG4',
 'Q92783',
 'P55197',
 'P12036',
 'P54259',
 'O43765',
 'Q8N556',
 'O15537',
 'Q9NWF9',
 'Q8WXE1',
 'P42575',
 'Q14566',
 'P08621',
 'O76080',
 'P00505',
 'Q99467',
 'P35659',
 'Q96PU8',
 'Q15573',
 'P17302',
 'Q92730',
 'P49796',
 'Q9UN74',
 'Q16270',
 'Q5RKV6',
 'P12755',
 'O15258',
 'Q92805',
 'P23396',
 'Q96S99',
 'Q07326',
 'P20827',
 'Q76KD6',
 'Q92786',
 'Q9UI14',
 'Q9UJT2',
 'P01127',
 'Q13148',
 'Q13049',
 'P49682',
 'O43908',
 'O15389',
 'Q13239',
 'P40189',
 'P13798',
 'P0DJI9',
 'Q93062',
 'Q9NS56',
 'P47928',
 'P04198',
 'P05091',
 'P31314',
 'P52945',
 'O15169',
 'Q5H8A3',
 'P19525',
 'Q15363',
 'Q15545',
 'P11308',
 'O43324',
 'Q96C36',
 'Q14135',
 'P24278',
 'P10415',
 'P47929',
 'P62244',
 'Q13416',
 'P14780',
 'P25791',
 'P30086',
 'P07237',
 'Q9NRD5',
 'Q6UWE0',
 'O95841',
 'P47914',
 'P61247',
 'Q9UBS4',
 'P63279',
 'P13994',
 'Q9UJ37',
 'Q13137',
 'P06737',
 'O94772',
 'Q68CR1',
 'Q9BWS9',
 'Q8N5H7',
 'Q9H2C0',
 'Q92624',
 'Q8NA61',
 'Q7Z3G6',
 'Q12891',
 'Q49A88',
 'Q6IA69',
 'P30260',
 'Q9BRP4',
 'P30307',
 'Q05655',
 'Q96NA2',
 'Q9UNE7',
 'P32245',
 'P01375',
 'Q96RF0',
 'P08243',
 'Q96DI7',
 'Q16288',
 'P48551',
 'P53611',
 'O75531',
 'P24071',
 'Q99575',
 'Q8IZQ8',
 'P24863',
 'P50616',
 'P18124',
 'P52735',
 'Q13873',
 'Q96IW2',
 'Q9NX65',
 'P46060',
 'Q9NPD3',
 'Q6UY14',
 'P21912',
 'O95897',
 'P04070',
 'Q99828',
 'P17707',
 'Q16659',
 'P68036',
 'P08311',
 'Q14181',
 'O95813',
 'Q9BV20',
 'O95863',
 'P17098',
 'Q9Y4X3',
 'P06870',
 'P60033',
 'P52790',
 'P17947',
 'Q9NZZ3',
 'Q9Y6Y0',
 'P78396',
 'Q9UBD9',
 'Q7L523',
 'Q13438',
 'Q8N715',
 'Q9NVF9',
 'Q9Y574',
 'Q8TBC3',
 'Q9UMX6',
 'Q99848',
 'Q460N3',
 'Q7Z412',
 'P19235',
 'P36894',
 'P10620',
 'Q9UK73',
 'Q92945',
 'P56282',
 'O43747',
 'P17213',
 'P40424',
 'P08559',
 'Q01518',
 'Q99584',
 'Q16543',
 'Q9UBM4',
 'P19823',
 'P13688',
 'Q99961',
 'O00401',
 'O00221',
 'O77932',
 'Q13309',
 'P02760',
 'Q9H8K7',
 'P00750',
 'Q03135',
 'P56693',
 'Q8WWA0',
 'O15457',
 'Q96C03',
 'O75363',
 'Q8TBX8',
 'P22303',
 'Q15036',
 'P49023',
 'Q92542',
 'Q9XRX5',
 'Q96E93',
 'Q13753',
 'Q9Y4A8',
 'Q9Y210',
 'P31943',
 'P53779',
 'Q16816',
 'P07766',
 'P14384',
 'Q96KG9',
 'Q04760',
 'P17900',
 'Q9BT78',
 'O14907',
 'Q9Y2Z9',
 'P41208',
 'P24394',
 'Q13042',
 'Q9H400',
 'Q6EEV4',
 'P48050',
 'Q13569',
 'Q49AR2',
 'O75367',
 'Q9H773',
 'Q7L2E3',
 'Q9NQC3',
 'P40337',
 'P21579',
 'Q13825',
 'O75582',
 'P06746',
 'Q86WK7',
 'Q9H0N5',
 'Q9NV88',
 'O75400',
 'P49715',
 'Q9HCD5',
 'P20042',
 'O95361',
 'P46926',
 'O14744',
 'Q08722',
 'Q96B86',
 'O14717',
 'P25092',
 'Q05209',
 'P47813',
 'Q6NW29',
 'P31939',
 'Q9UHD2',
 'Q30201',
 'Q96F86',
 'Q2QGD7',
 'O43633',
 'O43318',
 'P51677',
 'P00367',
 'Q96P50',
 'P52594',
 'Q9NYG5',
 'Q7Z3B4',
 'O15496',
 'O43612',
 'P26196',
 'P55073',
 'O95568',
 'P53602',
 'P00709',
 'Q9UNM6',
 'Q9ULW0',
 'O15527',
 'Q13724',
 'P53365',
 'Q96MU7',
 'Q9NY61',
 'Q9Y698',
 'Q5T6C5',
 'P16619',
 'P99999',
 'P80404',
 'O00488',
 'P22466',
 'Q96HD9',
 'P98170',
 'Q99547',
 'O14832',
 'P08473',
 'O15519',
 'P08476',
 'O75398',
 'P61254',
 'Q5VVH5',
 'P35222',
 'Q9UBK8',
 'Q9UJU2',
 'P09132',
 'Q6P1J9',
 'P26441',
 'Q9BY67',
 'P21554',
 'Q16520',
 'P51452',
 'P10619',
 'O15393',
 'P14416',
 'Q9Y5B9',
 'P78314',
 'Q9H0M0',
 'O15503',
 'O60831',
 'P31948',
 'Q96KN2',
 'Q9NYB9',
 'P52294',
 'P35052',
 'Q8N142',
 'P50591',
 'O43681',
 'Q7L5N1',
 'O00453',
 'Q99708',
 'Q9UP65',
 'Q9NQ25',
 'P39905',
 'Q8NFZ5',
 'O43255',
 'Q9HCM9',
 'O75382',
 'Q16527',
 'Q9UHD1',
 'Q07108',
 'Q8NHH9',
 'Q9UKM9',
 'Q6PIZ9',
 'Q13164',
 'Q9Y6C2',
 'P51812',
 'P51690',
 'P07998',
 'O00213',
 'Q15022',
 'Q6P1R3',
 'P41235',
 'Q8WWW0',
 'Q01831',
 'Q00613',
 'O94855',
 'Q96GQ7',
 'P35590',
 'P61326',
 'O60381',
 'P01350',
 'P35613',
 'Q9NXF8',
 'P32929',
 'O14757',
 'Q86T24',
 'O00165',
 'Q9Y261',
 'P56704',
 'P32455',
 'Q9Y692',
 'Q13310',
 'Q969F8',
 'P21583',
 'Q96JC9',
 'Q16549',
 'P01906',
 'Q8WZ19',
 'P60903',
 'Q99972',
 'O95295',
 'P51168',
 'P04156',
 'P10588',
 'Q15762',
 'Q9NRS6',
 'O14939',
 'Q96D59',
 'Q12929',
 'Q96K80',
 'Q86YL7',
 'O60493',
 'P49716',
 'Q13188',
 'Q01658',
 'P00492',
 'Q9BX70',
 'P53803',
 'P30047',
 'P42166',
 'P06132',
 'O00442',
 'P00918',
 'Q96AY2',
 'Q16555',
 'O60504',
 'Q96NY8',
 'Q9NR96',
 'Q92889',
 'P16070',
 'Q12933',
 'P01258',
 'Q9UQB8',
 'P08567',
 'Q96C24',
 'O95931',
 'Q8NCW6',
 'Q04837',
 'O75586',
 'Q99741',
 'Q9UK23',
 'Q8WVQ1',
 'Q15369',
 'Q99704',
 'P15036',
 'P55061',
 'P04406',
 'Q00653',
 'O15547',
 'Q9Y4E5',
 'Q96FC7',
 'Q14151',
 'Q9UII4',
 'O00232',
 'Q9Y224',
 'Q8NHU6',
 'O15530',
 'O75807',
 'P30519',
 'Q8ND90',
 'Q99959',
 'Q9BYC2',
 'Q92882',
 'Q16650',
 'P18615',
 'P30291',
 'O00180',
 'Q9UK22',
 'Q96EZ8',
 'P42568',
 'Q9BXR0',
 'Q9BRV3',
 'O15392',
 'O43889',
 'P98172',
 'Q0P6H9',
 'O75444',
 'P04839',
 'P21452',
 'P61244',
 ...}

In [14]:
def mapid(id, set_id):
    if id in set_id:
        return id
    else:
        return 0

df_hprd_cd40_short = df_hprd.applymap(lambda x: mapid(x, set_hprd_cd40_short))
df_hprd_cd40_short['label'] = df_hprd['label']
df_hprd_cd40_short

         id1     id2  label
0          0       0      1
1     Q13683       0      1
2          0       0      1
3     Q9UHI6       0      1
4     P29597       0      1
...      ...     ...    ...
7596  P09038  P16070      1
7597  Q13287  P04198      1
7598       0       0      1
7599       0       0      1
7600       0       0      1

[7601 rows x 3 columns]

In [17]:
df_hprd_cd40_short = df_hprd_cd40_short[(df_hprd_cd40_short['id1'] != 0) & (df_hprd_cd40_short['id2'] != 0)].reset_index(drop=True)
df_hprd_cd40_short.to_csv('hprd_new_cd40_short.tsv', sep='\t', header=None, index=None)
df_hprd_cd40_short

         id1     id2  label
0     P07947  P07947      1
1     P10721  P10721      1
2     O14492  P10721      1
3     Q7Z698  P10721      1
4     Q99848  P11487      1
...      ...     ...    ...
3511  P01100  P01100      1
3512  P19419  P01100      1
3513  Q13950  P01100      1
3514  P09038  P16070      1
3515  Q13287  P04198      1

[3516 rows x 3 columns]