In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedKFold

In [2]:
df = pd.read_csv('yeast_pairs.tsv', sep='\t', header=None)
df.columns = ['p1', 'p2', 'label']
df = df.sample(frac=1).reset_index(drop=True)
df

           p1      p2  label
0      P47134  P41817      0
1      Q04195  P39001      0
2      Q12265  Q12260      1
3      P26570  P25648      0
4      P49704  P38788      1
...       ...     ...    ...
11183  P08456  P02294      1
11184  Q12083  P17709      0
11185  P60010  P41901      1
11186  Q06819  P14741      1
11187  Q12692  P47038      0

[11188 rows x 3 columns]

In [9]:
df_sub = df[:100]
list_df_sub = list(set(list(df_sub['p1'].values) + list(df_sub['p2'].values)))
list_df_sub

['P38315',
 'P36145',
 'P27801',
 'P39966',
 'P38163',
 'P25045',
 'P50942',
 'P53968',
 'P20081',
 'P13856',
 'P47134',
 'P53731',
 'P12753',
 'P36100',
 'P54885',
 'P40513',
 'P32939',
 'P38713',
 'P32581',
 'P38274',
 'Q12518',
 'Q99190',
 'Q04067',
 'P35191',
 'Q04601',
 'P54791',
 'P47132',
 'P41817',
 'P32324',
 'P25584',
 'Q00711',
 'Q08215',
 'P36037',
 'P00331',
 'Q03455',
 'P39534',
 'P14291',
 'Q06632',
 'P48234',
 'P38324',
 'P52918',
 'Q05785',
 'P33311',
 'Q99394',
 'P80428',
 'P40509',
 'P07278',
 'P38344',
 'Q12017',
 'P40340',
 'Q12309',
 'Q12280',
 'P53883',
 'P46678',
 'P39946',
 'P29311',
 'P37296',
 'P38768',
 'P53283',
 'P50278',
 'P22517',
 'Q06696',
 'P53136',
 'P53256',
 'Q03899',
 'P11076',
 'O13539',
 'P43612',
 'Q03619',
 'P40395',
 'P16658',
 'Q08921',
 'Q08746',
 'P28241',
 'P38703',
 'P39076',
 'Q12044',
 'Q12035',
 'P53857',
 'P21801',
 'Q12265',
 'P38792',
 'Q04217',
 'P18238',
 'P12612',
 'P25296',
 'P38993',
 'P04046',
 'Q08387',
 'P39994',
 'P38291',
 'P05986',
 'P50095',
 'P38992',
 'P38348',
 'Q03981',
 'P35189',
 'P47074',
 'P38717',
 'P35169',
 'Q03096',
 'Q12199',
 'P46682',
 'P40541',
 'P38793',
 'Q03944',
 'P53211',
 'P25333',
 'P21651',
 'Q12154',
 'P53316',
 'P47821',
 'P11709',
 'P23638',
 'P38689',
 'P08018',
 'Q08601',
 'Q08773',
 'P40070',
 'P39004',
 'Q12462',
 'P25357',
 'P32629',
 'P35184',
 'P40087',
 'P46985',
 'P38353',
 'P47115',
 'P31109',
 'P35190',
 'P38859',
 'Q12159',
 'P15891',
 'P39524',
 'P49704',
 'P39730',
 'P38877',
 'P24869',
 'P39001',
 'P35177',
 'P25655',
 'P06634',
 'Q08496',
 'P32327',
 'P25575',
 'Q12277',
 'P29465',
 'O13530',
 'P33767',
 'P06777',
 'Q07896',
 'Q04195',
 'P25648',
 'P05453',
 'P53337',
 'P26570',
 'P40564',
 'P11978',
 'P38788',
 'Q03860',
 'Q03018',
 'P01097',
 'P36049',
 'P21374',
 'Q00578',
 'P38346',
 'Q04377',
 'P00724',
 'P33204',
 'P32453',
 'P47912',
 'P40461',
 'P40038',
 'P38959',
 'P25453',
 'P38930',
 'P39523',
 'P23301',
 'Q06137',
 'P32605',
 'P00958',
 'P32583',
 'P46962',
 'P40103',
 'Q12260',
 'P39937',
 'P14742',
 'P50086',
 'P32787',
 'P32899']

In [21]:
df_id_seq = pd.read_csv('yeast_dict.tsv', header=None, sep='\t')
df_id_seq.columns = ['id', 'seq']
keys = df_id_seq['id'].values
values = df_id_seq['seq'].values
dict_id_seq = {key: value for key, value in zip(keys, values)}

In [23]:
f = open('yeast_dict_sub.tsv', 'w')
for id in list_df_sub:
    f.write(id+'\t'+dict_id_seq[id]+'\n')

f.close()

In [25]:
df_sub[:80].to_csv('yeast_train_sub.tsv', sep='\t', header=None, index=None)
df_sub[80:].to_csv('yeast_test_sub.tsv', sep='\t', header=None, index=None)

In [22]:
skf = StratifiedKFold(n_splits=5, random_state=42, shuffle=True)
train_test = []
for train_index, test_index in skf.split(df[['p1', 'p2']], df['label']):
    train_test.append((train_index, test_index))

for i in range(5):
    train = df.loc[train_test[i][0]]
    test = df.loc[train_test[i][1]]
    train.to_csv(f'd-script/yeast_train{i}.tsv', sep='\t', header=None, index=None)
    test.to_csv(f'd-script/yeast_test{i}.tsv', sep='\t', header=None, index=None)