In [1]:
import pandas as pd
import numpy as np

In [2]:
species='mouse'
kind = 'test'
dataset_name = f'{species}_{kind}.tsv'
subset_size = 1000

In [3]:
df = pd.read_csv(dataset_name, header=None, sep='\t')
df.columns = ['p1', 'p1', 'label']
df

                             p1                        p1  label
0      10090.ENSMUSP00000002551  10090.ENSMUSP00000044178    1.0
1      10090.ENSMUSP00000106249  10090.ENSMUSP00000110731    1.0
2      10090.ENSMUSP00000109313  10090.ENSMUSP00000055941    1.0
3      10090.ENSMUSP00000124695  10090.ENSMUSP00000117609    1.0
4      10090.ENSMUSP00000139467  10090.ENSMUSP00000120807    1.0
...                         ...                       ...    ...
54995  10090.ENSMUSP00000103485  10090.ENSMUSP00000123630    0.0
54996  10090.ENSMUSP00000078819  10090.ENSMUSP00000105575    0.0
54997  10090.ENSMUSP00000083664  10090.ENSMUSP00000129149    0.0
54998  10090.ENSMUSP00000129372  10090.ENSMUSP00000139742    0.0
54999  10090.ENSMUSP00000049466  10090.ENSMUSP00000105678    0.0

[55000 rows x 3 columns]

In [4]:
df_shuffled = df.sample(frac=1, random_state=42).reset_index(drop=True)
df_subset_shuffled = df_shuffled[:subset_size]
df_subset_shuffled.to_csv(f'{species}_{kind}_sub.tsv', header=None, index=None, sep='\t')

9